
.dashboard {
    width: 100%;
    height: 100vh;

    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 50px;
    color: #ffffff;
    }

    table {
    border: 2px solid rgb(255, 255, 255);
    width: 100%;
    height: 700px;
    cursor: pointer;
    font-size: 17px;
    }
    
    .dash-title h3{
        text-transform: capitalize;
        font-size: 30px;
       color: #000000;
        text-align: center;
    }
th{
    font-size: 20px;
}
tr{
    background: #11574A;
    color: white;
}
    td {
    text-align: center;
    }
    

    .dash-btn {
        border: none;
        background-color: #000000;
        padding: 9px 25px;
        font-size: 15px;
        cursor: pointer;
        display: inline-block;
        color: rgb(255, 255, 255);
      }
      .dash-btn:hover {
       color: #000000;
        background-color: #ffffff;
       
      }